@{ var grid = new WebGrid(Model, canPage: false); }
@grid.GetHtml(tableStyle: "mGrid", headerStyle: "hidden-xs hidden-sm", footerStyle: "webgrid-footer", alternatingRowStyle: "alternate", rowStyle: "gridrow", columns: new[]
{
    grid.Column(header: "#", style: "text-center", format: @<text>
                                                               <div>@(item.WebGrid.Rows.IndexOf(item) + 1)</div></text>),
    grid.Column(header: "İptal", style: "text-center", format: @<text><input type="checkbox" checked="@item.IPTAL" disabled="disabled"/></text>),
    grid.Column("MAKBUZTAR", header: "Makbuz Tarihi", style: "text-center", format: @<text>@item.MAKBUZTAR.ToString("dd.MM.yyyy")</text>),
    grid.Column("MAKBUZNO", style: "text-center", header: "Makbuz No"), grid.Column("SICILNO", style: "text-center", header: "Sicil No"), grid.Column("ADISOYADI", "Ad Soyad"), grid.Column("ACIKLAMA", "Açıklama"), grid.Column("BIRLIKTAHSILATI", header: "Tutar", style: "text-right", format: @<text>@item.BIRLIKTAHSILATI.ToString("c")</text>),
    grid.Column(header: "", canSort: false, style: "webgridaction", format: @<text> @Html.Raw("<a href='/Makbuz/ReportEskiMakbuz?id=" + item.Id + "' id='" + item.Id + "' title='Makbuz Yazdir' data-id='" + item.Id + "'><i class='fa fa-print'></i></a>") </text>)
})